
@{
    ViewData["Title"] = "Do";
}

<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css" integrity="sha384-jzngWsPS6op3fgRCDTESqrEJwRKck+CILhJVO5VvaAZCq8JYf8HsR/HPpBOOPZfR" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw" crossorigin="anonymous"></script>

</head>
<body>
    <div style=" margin: auto;
  width: 50%;
  border: 3px solid #eaeaea;
  padding: 10px;color:#888;background:#eaeaea;border-bottom-left-radius:10px;border-bottom-right-radius:10px">
        <div>
            <div style="text-align:center"><h2>bir Panel</h2></div>


            <form action="/api/login" method="post" enctype="application/x-www-form-urlencoded">
                <label for="exampleInputEmail1">Kullanıcı adı</label>
                <input type="password" class="form-control" name="username" id="exampleInputEmail1" placeholder="kullanıcı">
                <label for="passinput">Şifre</label>
                <input type="password" class="form-control" name="password" id="passinput" placeholder="şifre">
                <div style="height:10px"></div>
                <button type="submit" class="btn btn-primary" style="width:200px">giriş</button>

                <br />

            </form>
        </div>
    </div>
</body>
</html>




